<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <link rel="shortcut icon" href="/static/img/gato2.png">
    <title>Mac-o-wins</title>
</head>
<body>
    <header>
        <img src="/static/img/gato2.png" alt="gato" name="gato">
        <section class="section-home">
            <h1>Mac-o-wins</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{{url_for('main')}}">HOME</a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <section class="section-productos">
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
        </section>        
    
    </main>
    <footer>

    </footer>
</body>
</html>