<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <link rel="shortcut icon" href="/static/img/macowins.jpeg">
    <title>Mac-o-wins</title>
</head>
<body>
    <header>
        <section class="section-logo">
            <img src="/static/img/macowins.jpeg" alt="gato" name="gato">
        </section>
        <section class="section-home">
            <h1>Mac-o-wins</h1>
            <p>"Si compras de más es por que querés"</p>
            <form action="/pagina2" class="inicio">
                <input type="text" name="producto">
                <button type="submit">enviar</button>    

            </form>
        </section>
    </header>
    <main>
        <section class="section-productos">
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
            <div class="ropa">"tengo ropa"
                <img src="/static/img/gato2.png" alt="gato">
            </div>
        </section>        
    
    </main>
    <footer> 
        <nav>
            <ul class="links">
                <li><a href="https://Facebook.com">Facebook</a></li>
                <li><a href="https://mail.google.com">Gmail</a></li>
                <li><a href="#">About</a></li>
            </ul>  
        </nav>
        <p>Copyright 2022. All rights reserved (o sea ninguno)</p>
    </footer>
</body>
</html>