<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hola {{productos}}</p>
    {% for producto in productos %}
        <article>
            <p>nombre: {{producto.nombre}}</p>
            <p>categoria: {{producto.categoria}}</p>
            <p>precio: ${{producto.precio}}</p>
        </article>
    {% endfor %}
</body>
</html>