<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles2.css')}}">
    <link rel="shortcut icon" href="/static/img/mac-owins.jpeg">
    <title>Mac-o-wins</title>
</head>
<body>
    <section class="contenedor">
        <header>
            <img src="/static/img/mac-owins.jpeg" name="logo">
            <section class="section-header">
                <h1>Orange box </h1>
                <h4>from Mac-o-wins </h4>
            </section>
            <section class="section-p">
                <p>"Si comprás de más es por que querés..."</p>
            </section>
        </header>

        <nav class="section-navegacion"> 
            <section class="section-home">
                <a href="{{url_for('index')}}" name="home">
                    <button class="home" alt="home">Inicio</button>
                </a>
                <p>Producto busqueda: "{{busqueda}}"</p>
            </section>
        </nav>
        <main>
            <section class="section-productos">
                {% for producto in productos%}
                {% if producto.stock > 0 %}
                    <article class="constock">
                        <img src="/static/img/gato1.jpeg" alt="gato">
                        <p>nombre: {{producto.nombre}}</p>
                        <p>categoria: {{producto.categoria}}</p>
                        <p>precio: ${{producto.precio}}</p>
                    </article>
                    {% else %}
                    <article class="sinstock">
                        <img src="/static/img/gato1.jpeg" alt="gato">
                        <p>nombre: {{producto.nombre}}</p>
                        <p>categoria: {{producto.categoria}}</p>
                        <p>precio: ${{producto.precio}}</p>
                    </article>
                    {% endif %}
                {% endfor %}
            </section>
        </main>

        <footer> 
            <section class="section-buttons">
                <a href="http://facebook.com/PABLODOS3K"><button class="facebook"><img src="/static/img/facebook1.png" alt="facebook"></button></a>
                <a href="https://mail.google.com/mail"><button class="gmail"><img src="/static/img/gmail.png" alt="gmail"></button></a>
            </section>
            <section class="section-copyroght">
                <p>2022 All rigths reserved. (o sea ninguno)</p>
            </section>
        </footer>

    </section> 
</body>
</html>