*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #5d00b3;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}
header{
    display: flex;
    align-items: center;
    
}
.section-logo{
    display: flex;
    width: 39%;
}
.section-logo img{
    width: 80%;
    flex-grow: 1%;
    padding: 2%;
}
.section-home{
    display: flex;
    flex-direction: column;
    width: 59%;
    height: 130px;
    padding-right: 2%;
    padding-top: 2%;
    margin: 1%;
}
.section-home h1{
    width: 100%;
    height: 80px;
}
.section-home li{
    height: 50px;
}
.section-home form{
    width: 100%;
    display: flex;
    flex-direction: row;
}
input{
    width: 75%;
}
main{
    display: flex;
}
.section-productos {
    background-color: #8f993e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    width: 100vmax;
    overflow:scroll;
}
div{ 
    background-color: aliceblue;
    box-sizing: border-box;
    float: left;
    padding: 20px;
    border-width: 2px solid black;
    border-radius: 8%;
    width: 48%;
}
div img{
    max-width: 100%;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 14%;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 13%;
    gap: 5%;
    margin-bottom: 5%;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
    
}
li {
    list-style:none;
}

@media (min-width:360px){
    body{
        font-size: small;
        height: 100vh;
    }
    .section-productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
        padding: 2%;
        height: 60vh;
    }
    
    header img{
        width: 40%;
        height:40%;
        margin-left: 2%;
    }
}

@media (min-width:768px){
    body{
        font-size: medium;
    }
    div{
        width: 31.33%;
    }
}

@media (min-width:1200px){
    body{
        font-size: large;
    }
    div{
        width: 23%;
    }
}